
<div class="divContainer">
<form action="updateUser" method="post">
    <input id="Id" name="Id" type="hidden" value={{row.Id}}>
    <div>
        <label for="firstName">First Name: </label>
        <input type="text" name="firstName" id="firstName" value="{{row.FirstName}}" required>
    </div>
    <div>
        <label for="lastName">Last Name: </label>
        <input type="text" name="lastName" id="lastName" value="{{row.LastName}}" required>
    </div>
    <div>
        <label for="email">Email: </label>
        <input type="email" name="email" id="email" value="{{row.Email}}" required>
    </div>

    <div>
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" minlength="8" maxlength="20">
    </div>

    <div>
        <input type="submit" value="Update User">
    </div>
</form>

    <p>
        User Type: {{#if row.IsAdmin}} Administrator {{/if}} {{#unless row.IsAdmin}} Standard User{{/unless}} 
    </p>
</div>



{{#unless row.IsAdmin}} 
<div class="divContainer">
    <h4>User Signature</h4>
    <img src="/images/{{row.Signature}}">

    <form action="updateSignature" method="post">
        <input id="id" name="id" type="hidden" value={{row.Id}}>
        <input type="submit" value="Upload New Signature File">
    </form>

</div>
{{/unless}} 

